<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <div id="app">
        <h1>To Do List</h1>
        <ul>
            {% for task in tasks %}
                <li>
                    <div>{{ task[1] }}</div>
                    <form action="{{ url_for('delete', task_id=task[0]) }}" method="post" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <form action="{{ url_for('add') }}" method="post">
            <input type="text" name="task" placeholder="Enter task">
            <button type="submit">Add</button>
        </form>
    <app></app>
</body>
</html>